:root{
    --bs-secondary-rgb: 17, 134, 117;
    --bs-light-rgb: 234, 234, 234;
}


/* styling background pattern */
.background-pattern {
    min-height: 100vh;
    background-color: rgb(208, 211, 203);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* styling green strip patter */
.strip-pattern{
    min-height: 15vh;
}

/* styling main container */
.main-container {
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh; 
    position: relative;
}

/* styling user img */
.user-avatar-img img{
    width: 3rem;
}

/* custom color for toggle */
.lightgrey-custom-colour{
    color: rgb(177, 177, 177);
}
